@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    color:black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.wrapper {
    width: 770px;
    padding: 35px;
    background-color: #f5f3c4;
}

.wrapper .content-box {
    padding: 15px 25px;
    border: 1px solid #ccc;
}

.content-box .typing-text {
    max-height: 240px;
    overflow-y: auto;
}

.content-box .content {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
    text-align: justify;
    font-size: 19px;
    letter-spacing: 1px;
}

.result-details li {
    list-style: none;
    padding: 10px 20px;
    text-align: center;
}